   <!--<div class="container">
<div ng-controller="blogDetailController">

    <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>

            </div>
        </div>

        -->
<div class="container">
 <form>
       
       <hr>
       <label>{{blog.title}}</label>
       <h6>By</h6>
       <label>{{blog.from}}</label>
       <hr>
       <label>{{blog.content}}</label>
       <hr>
       
    </form>
       

</div>